@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #f9f9fc;
	scroll-behavior: smooth;
}

body {
	max-width: 1472px;
	margin: 0 auto;
	position: relative;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-variant: normal;
	font-size: 14px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	color: inherit;
}

input {
	outline: 0;
}
ul,
li {
	margin: 0;
	padding: 0;
}
button {
	border: 0;
	outline: none;
}
